{
        "gamedir": "~/.steam/steam/SteamApps/common/CrossCode",
	"string_cache_file": "translation/string_cache.json",
        "from_locale": "en_US",
        "show_locales": [
                "en_US",
                "de_DE"
        ],
        "compose_chars": [],
        "filter_file_path": [],
        "filter_dict_path": [],
        "filter_tags": [],
        "filter_quality": [],
        "ignore_known": true,
        "ignore_unknown": false,
        "editor": "vim",
        "packfile": "translation/french_translation",
	"total_count": 43828,
	"unique_count": 29223,

	"check": {
		"replacements": [
			"s/œ/oe/",
			"s/Œ/OE/",
			"s/ ([:!?])/\u00a0\\1/",
			"s/ ([;%])/\u202f\\1/"
		],
		"badnesses": {
			"estil": "\\best il\\b",
			"estil2": "\\best t-il\\b",
			"toutplural": "\\b[tT]out (ses|nos|les|leurs|ces|tes|vos|mes)\\b",
			"tutrouvera": "tu trouvera\b",
			"tu_a/est": "\\btu ((les|leur|nous) |[ln]')?(a|est)\\b",
			"je_met": "\\bje met\\b",
			"laisser moi": "\\blaisser moi\\b",
			"caviens": "\\bça viens\\b",
			"on_ai": "\\bon ((les|leur) |[ln]')?ai\\b"
		},
		"metrics": {
			"normal": {
				"metrics": [
5,6,6,7, 8,10,10,3, 4,4,6,6, 5,6,5,8,
8,5,8,8, 8,8,8,8, 8,8, 3,2, 6,7,6,8,
10,8,8,8, 8,8,8,8, 8,4,7,8, 7,11,8,8,
8,8,8,8, 9,8,8,11, 8,9,8,4, 7,4,6,9,
3, 7,7,7, 7,7,6,7, 7,4,4,7, 4,9,7,7,
7,7,6,7, 5,7,7,9, 7,7,7,5, 3,5,9,-1,

-1,-1,-1,-1, -1,-1,-1,-1, -1,-1,-1,-1, -1,-1,-1,-1,
-1,-1,-1,-1, -1,-1,-1,-1, -1,-1,-1,-1, -1,-1,-1,-1,
-1,-1,-1, 7, 7,8, -1,7, -1,8,5,6, -1,-1,8,4,
6,6,5,5, 3,7,8,2, 3,2,6,6, 11,11,13,8,
8,8,8,8, 8,8,13,8, 8,8,8,8, 3,3,5,4,
9,8,8,8, 8,8,8,6, 8,8,8,8, 8,9,7,7,
7,7,7,7, 7,7,11,7, 7,7,7,7, -1,-1,5,5,
7,7,7,7, 7,7,7,6, 7,7,7,7, 7,7,7
				],
				"extra_metrics": {
					"\u00a0": 5,
					"\u202f": 3,
					"tech": 17,
					"ascended": 24,
					"element-neutral": 19,
					"element-heat": 19,
					"element-cold": 19,
					"element-wave": 19,
					"element-shock": 19
				}
			}, "small": {
				"metrics": [
4,4,4,6, 6,11,7,2, 3,3,4,6, 4,5,3,4,
6,2,6,6, 6,6,6,6, 6,6,2,2, 4,6,4,6,
8,6,6,6, 6,6,6,6, 6,4,5,6, 5,8,6,6,
6,6,6,6, 6,6,6,8, 6,6,6,3, 4,3,4,7,
3,5,5,5, 5,5,4,5, 5,4,4,5, 4,8,5,5,
5,5,5,5, 4,5,6,8, 6,5,6,4, 4,4,6,-1,

-1,-1,-1,-1, -1,-1,-1,-1, -1,-1,-1,-1, -1,-1,-1,-1,
-1,-1,-1,-1, -1,-1,-1,-1, -1,-1,-1,-1, -1,-1,-1,-1,

-1,-1,-1, 6, 6,6,-1,5, -1,6,4,5, -1,-1,6,3,
5,4,4,4, 3,5,6,2, 3,2,5,5, 8,8,10,6,
6,6,6,6, 6,6,10,6, 6,6,6,6, 4,4,4,4,
6,6,6,6, 6,6,6,5, 6,6,6,6, 6,6,5,5,
5,5,5,5, 5,5,8,5, 5,5,5,5, -1,-1,5,5,
6,5,5,5, 5,5,5,6, 5,5,5,5, 5,5,5
				],
				"extra_metrics": {
					"\u00a0": 4,
					"\u202f": 3
				}
			}, "tiny": {
				"metrics": [
3,3,3,5, 6,8,3,2, 3,3,6,6, 3,4,3,3,
5,3,5,5, 5,5,5,5, 5,5,2,2, 3,4,3,5,
6,5,5,5, 5,5,5,5, 5,2,4,5, 4,6,5,5,
5,5,5,5, 6,5,6,6, 6,6,5,3, 3,3,4,4,
3,5,5,5, 5,5,5,5, 5,2,4,5, 4,6,5,5,
5,5,5,5, 6,5,6,6, 6,6,5,4, 2,4,6,-1,

-1,-1,-1,-1, -1,-1,-1,-1, -1,-1,-1,-1, -1,-1,-1,-1,
-1,-1,-1,-1, -1,-1,-1,-1, -1,-1,-1,-1, -1,-1,-1,-1,

-1,-1,-1,5, -1,6,-1,4, -1,-1,3,5, -1,-1,-1,3,
3,4,-1,-1, 3,-1,-1,2, 3,2,-1,5, 8,8,9,5,
5,6,6,-1, 6,6,-1,5, 5,6,6,5, 4,4,4,4,
6,6,5,5, 6,5,5,-1, 6,5,5,6, 5,6,5,5,
5,5,6,-1, 5,6,-1,5, 5,5,5,5, -1,-1,3,3,
-1,-1,5,5, 6,5,5,6, 5,5,5,6, 5,6,5
				],
				"extra_metrics": {
					"\u00a0": 3,
					"\u202f": 2
				}
			}
		},
		"grammalecte": {
			"whitelist": [
				"fr_FR",
				"SS1",
				"SS2",
				"E1",
				"E2",
				"E3",
				"E4",
				"E5",
				"E??",
				"The mystère\u00a0!",
				"Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet. Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet.",
				"Temps Sorcière",
				"Échanger Branches",
				"attendspourquoileabyepourquoiattendslea",
				"attendsbyepourquoisalutsalutsalutsalutsalbye\u00a0!!!",
				"Test complexte !",
				"Interrompt",
				"Giga Foreuse",
				"Jeuuuu\u00a0!",
				"CliP !",
				"Level Up 1",
				"Level Up 2",
				"Level Up 3",
				"One Up"
			],
			"dictionary": [
				"Lea/:M1:f:i",
				"LEA/:M1:f:i",
				"lea/:M1:f:i",
				"Emilie/:M1:f:i",
				"Emilienator/:M1:f:i",
				"Hlin/:M1:f:i",
				"Shizuka/:M1:f:i",
				"E’nel/:M1:f:i",
				"K’win/:M1:f:i",
				"Mika/:M1:f:i",
				"K’tara/:M1:f:i",
				"Ryda/:M1:f:i",
				"Talatu/:M1:f:i",
				"Elenya/:M1:f:i",
				"Hira/:M1:f:i",
				"Puella/:M1:f:i",
				"PuellaDocta/:M1:f:i",
				"Kacela/:M1:f:i",
				"Esha/:M1:f:i",
				"Linde/:M1:f:i",
				"Sue’zie/:M1:f:i",
				"Zaida/:M1:f:i",
				"Kima/:M1:f:i",
				"Jean/:M1:f:i",
				"Priel/:M1:f:i",
				"Lily/:M1:f:i",
				"Diaz’trez/:M1:f:i",
				"Dia’strez/:M1:f:i",
				"Bru’shy/:M1:f:i",
				"Forni/:M1:f:i",
				"Frou’quye/:M1:f:i",
				"Mys/:M1:f:i",

				"Sergey/:M1:m:i",
				"Sergeeeeeeey/:M1:m:i",
				"CIIItron/:M1:m:i",
				"Toby/:M1:m:i",
				"Tronny/:M1:m:i",
				"TRONNY/:M1:m:i",
				"Raphael/:M1:m:i",
				"Lukas/:M1:m:i",
				"Schneider/:M1:m:i",
				"Beowulf/:M1:m:i",
				"Apollo/:M1:m:i",
				"Polly/:M1:m:i",
				"Pollys/:M1:m:p",
				"Joern/:M1:m:i",
				"Jœrn/:M1:m:i",
				"JŒRN/:M1:m:i",
				"Satoshi/:M1:m:i",
				"Gautham/:M1:m:i",
				"Benedict/:M1:m:i",
				"Di’orbis/:M1:m:i",
				"Di’aro/:M1:m:i",
				"G’oni/:M1:m:i",
				"Darrel/:M1:m:i",
				"Manzana/:M1:m:i",
				"DEEEkar/:M1:m:i",
				"Baxton/:M1:m:i",
				"Jœl/:M1:m:i",
				"Tucos/:M1:m:i",
				"Hasouk/:M1:m:i",
				"Deggart/:M1:m:i",
				"Reize/:M1:m:i",
				"Rainer/:M1:m:i",
				"Cedric/:M1:m:i",
				"Wervyn/:M1:m:i",
				"Dourk/:M1:m:i",
				"Natzo’gra/:M1:m:i",
				"Hiez’gra/:M1:m:i",
				"Jœ/:M1:m:i",
				"Jamie/:M1:m:i",
				"Jock/:M1:m:i",
				"Mick/:M1:m:i",
				"Ketin/:M1:m:i",
				"Zira/:M1:m:i",
				"Quo’wark/:M1:m:i",
				"Sullyvan/:M1:m:i",
				"Ivo/:M1:m:i",
				"Iroh/:M1:m:i",
				"Barney/:M1:m:i",
				"Drey/:M1:m:i",
				"Taio/:M1:m:i",
				"Deggart/:M1:m:i",
				"Don/:M1:m:i",
				"Vita/:M1:m:i",
				"Turis/:M1:m:i",
				"Pae’trow/:M1:m:i",
				"Ela/:M1:m:i",
				"Avon/:M1:m:i",
				"SkaterBoi/:M1:m:i",
				"Christophorus/:M1:m:i",
				"Owo’kyari/:M1:m:i",
				"Zla’nyoro/:M1:m:i",
				"Ey’leet/:M1:m:i",
				"Sao/:M1:m:i",
				"Cratos/:M1:m:i",

				"Asimov/:M2:e:i",
				"Sakei/:M2:e:i",
				"Sidwell/:M2:e:i",
				"Billston/:M2:e:i",
				"Cretia/:M2:e:i",
				"Lips/:M2:e:i",
				"Brassler/:M2:e:i",
				"Ling/:M2:e:i",
				"Bonmange/:M2:e:i",
				"Teak/:M2:e:i",
				"Addi/:M2:e:i",
				"Volkewsky/:M2:e:i",
				"Mahir/:M2:e:i",
				"Niellos/:M2:e:i",
				"Kney’tehab/:M2:e:i",
				"Bronzel/:M2:e:i",
				"Summers/:M2:e:i",
				"Nailson/:M2:e:i",
				"Madaki/:M2:e:i",
				"Reynes/:M2:e:i",
				"McEdinthil/:M2:e:i",
				"Basu/:M2:e:i",
				"Vestorovich/:M2:e:i",
				"Twirlson/:M2:e:i",
				"Calzone/:M2:e:i",
				"Boosinessman/:M2:e:i",
				"Sauceston/:M2:e:i",
				"Halman/:M2:e:i",
				"Bonegate/:M2:e:i",
				"Santrés/:M2:e:i",
				"Knight/:M2:e:i",
				"Mint/:M2:e:i",
				"Chet/:M2:e:i",
				"Statenegger/:M2:e:i",
				"Samuels/:M2:e:i",
				"Niskeewa/:M2:e:i",
				"Ruger/:M2:e:i",

				"Nemuh/:M1:e:i",
				"Sensei/:M1:e:i",
				"sensei/:M1:e:i",


				"Ja/:J",
				"Japp/:J",
				"Junge/:J",
				"Jawohl/:J",
				"Achtung/:J",
				"Dacodac/:J",
				"Ouaip/:J",
				"Holerö/:J",
				"HOLERÖ/:J",
				"Hallihallo/:J",
				"HALLO/:J",
				"Gratz/:J",
				"Tschau/:J",
				"Gyahaha/:J",
				"Gyahahaha/:J",
				"Gyahahahaha/:J",
				"Gyahahahahaha/:J",
				"Nyahahahahaha/:J",
				"Nyahahaha/:J",
				"Nyeahahahaha/:J",
				"Nyeeahahahaha/:J",
				"Nyeeahahahahaha/:J",
				"Nyeeahahahahahaha/:J",
				"Chilidog/:J",
				"Meine/:G:Dp:f:s",
				"Güte/:N:m:s",
				"Saluuut/:N:m:s",
				"Heiiiiin/:J",

				"bla/:J",
				"Youhou/:J",
				"Steakholder/:N:e:s",
				"McBuggy/:NP:e:i",
				"Lea-monade/:NP:e:i",
				"NAN/G:X",
				"Nan/G:X",
				"nan/G:X",

				"Solar/:M2:m:s",
				"Fist/:M2:m:s",

				"Évotar/:N:m:s",
				"évotar/:N:m:s",
				"Évotars/:N:m:p",
				"évotars/:N:m:p",

				"shad/:N:m:s",
				"shads/:N:m:p",
				"Shad/:N:m:s",
				"Shads/:N:m:p",


				"téléporteur/:N:m:s",
				"téléporteurs/:N:m:p",
				"Téléporteur/:N:m:s",
				"Link/:N:m:s",
				"D-Link/:N:m:s",
				"D-Links/:N:m:p",
				"newbie/:N:m:s",
				"Newbie/:N:m:s",
				"newbies/:N:m:p",
				"Newbies/:N:m:p",
				"Retraçage/:MP:m:i",
				"Réamorceur/:N:m:s",
				"Réamorceurs/:N:m:p",
				"Plasmafour/:MP:m:i",
				"Hyperforce/:MP:m:i",
				"Hacktracé/:N:m:s",
				"Creusetracé/:N:m:s",
				"Trouvetracé/:N:m:s",
				"chakrams/:N:m:p",
				"Chakrams/:N:m:p",
				"jetpack/:N:m:s",
				"neutraliseur/:N:m:s",
				"Neutraliseur/:N:m:s",
				"HackerSpaces/:N:m:p",
				"Hackerspaces/:N:m:p",
				"gaming/:N:m:s",
				"Polmier/:N:m:s",
				"Cactèque/:N:m:s",
				"Kunoichi/:N:m:s",
				"hack/:N:m:s",
				"Rookie/:N:m:i",
				"Rookies/:N:m:p",
				"ollie/:N:m:s",
				"grinder/:V1__t_q_zz:Y",
				"grindé/:V1__t_q_zz:Q:A:1ŝ:m:s",
				"Grindez/:V1__t_q_zz:E:2p",
				"Gatling/:N:f:s",
				"Gun/:NP:e:s",
				"biolink/:NP:e:s",
				"Renverseur/:N:A:m:s",
				"Renverseurs/:N:A:m:p",
				"renverseur/:N:A:m:s",

				"wrap/:N:m:s",
				"Wrap/:N:m:s",
				"wraps/:N:m:p",
				"Wraps/:N:m:p",
				"Veggie/:A:m:s",
				"Veggies/:A:m:p",
				"Maultäsche/:N:m:s",

				"Geta/:N:m:i",
				"dionnée/:N:f:s",
				"dionnées/:N:f:p",
				"inconsumables/:A:e:p",
				"reremplir/:V2_it_q__a:Y",
				"effrayable/:A:e:s",
				"réouvrir/:V3_itnq__a:Y",
				"réouvert/:V3_itnq__a:Q:A:m:s",
				"Enchaîneur/:N:m:s",

				"harisson/:N:m:s",
				"harissons/:N:m:p",
				"Harisson/:N:m:s",
				"Harissons/:N:m:p",
				"Grelapin/:N:m:s",
				"grelapins/:N:m:p",
				"Grelapins/:N:m:p",
				"hillkat/:N:m:s",
				"Hillkat/:N:m:s",
				"Hillkats/:N:m:p",
				"Hocheur/:N:m:s",
				"Hocheurs/:N:m:p",
				"Karotto/:N:m:i",
				"Karottos/:N:m:p",
				"Chastache/:N:m:s",
				"Chastaches/:N:m:p",
				"Pugèleur/:N:m:s",
				"Pugèleurs/:N:m:p",
				"Pandza/:N:m:s",
				"Pandzas/:N:m:p",
				"Ti’im/:N:m:s",
				"Chachoc/:N:m:s",
				"Chachocs/:N:m:p",
				"Arvebeh/:N:m:s",
				"Arvebehs/:N:m:p",
				"Plantfurax/:N:f:s",
				"Digmo/:N:m:s",
				"Pengpeng/:N:m:s",
				"Pengpengs/:N:m:p",
				"Aranetarda/:N:m:s",
				"Aranetardas/:N:m:p",
				"Geléerique/:N:m:s",
				"Resquinlette/:N:m:s",
				"Resquinlettes/:N:m:p",
				"Vautourbine/:N:m:s",
				"Tortucreuse/:N:m:s",
				"Tortucreuses/:N:m:p",
				"Pusilex/:N:m:s",
				"Pépéflingueur/:N:m:s",
				"Pépéflingueurs/:N:m:p",
				"Ectovolt/:N:m:s",
				"Peng/:NP:m:s",
				"Dakara/:NP:m:s",
				"Pépégang/:N:m:s",
				"Pépégangster/:N:m:s",
				"Pinceron/:N:m:s",
				"Baralelles/:N:f:p",

				"Cat/:NP:m:i",
				"PU17/:NP:m:i",

				"Spheromancer/:N:m:s",
				"SPHEROMANCER/:N:m:s",
				"SPHEROMANCERS/:N:m:p",
				"Spheromancers/:N:m:p",
				"Spheromanceuse/:N:f:s",
				"Tête-d’Herbe/:N:f:s",

				"Pentafist/:N:e:s",
				"Pentafists/:N:e:p",
				"Triblader/:N:e:s",
				"Tribladers/:N:e:p",
				"Hexacast/:N:e:s",
				"Hexacasts/:N:e:p",
				"Quadroguard/:N:e:s",
				"Quadroguards/:N:e:p",
				"Powerfist/:N:e:s",
				"Septaranger/:N:e:s",
				"Heptalancer/:N:e:s",

				"RDC/:N:m:i",
				"PNJ/:N:m:s",
				"PNJs/:N:m:p",
				"PvP/:MP:m:s",
				"VRP/:N:m:s",
				"VRPs/:N:m:p",
				"VPI/:N:m:s",
				"VPIs/:N:m:p",
				"MMO/:N:m:s",
				"MMOs/:N:m:p",
				"JDR/:N:m:s",
				"DLC/:N:m:s",
				"DLCs/:N:m:p",
				"SSDM/:N:m:s",
				"JADC/:N:m:s",
				"IDN/:NP:e:i",
				"CIM/:NP:e:i",
				"OIHS/:NP:e:i",
				"DoS/:NP:e:i",
				"X01/:NP:e:i",
				"v1/:NP:e:i",
				"v2/:NP:e:i",
				"HFS/:NP:e:i",
				"Hit-Stun-Overflow/:NP:e:i",
				"AR/:V1_it_q__a:Q:A:f:p",

				"AdE/:N:f:s",
				"CMC/:N:f:s",
				"ADH/:N:f:s",
				"DSH/:N:m:s",
				"AFC/:N:m:s",
				"GP/:N:f:s",
				"FA/:N:m:p",

				"CrossWorlds/:MP:m:s",
				"CrossCode/:MP:m:s",
				"Gear/:MP:m:s",
				"Instatainment/:MP:m:s",
				"Portation/:N:f:s",

				"Shadoon/:MP:e:i",
				"Gaia/:MP:e:i",
				"Rhombus/:MP:e:i",
				"Square/:MP:e:i",
				"Harbor/:MP:e:i",
				"Autumn/:MP:e:i",
				"Autumn’s/:MP:e:i",
				"Rise/:MP:e:i",
				"Fall/:MP:e:i",
				"Maroon/:MP:e:i",
				"Vermillion/:MP:e:i",
				"Ba’kii/:MP:e:i",
				"Baki/:MP:e:i",
				"Kum/:MP:e:i",
				"Krys’kajo/:MP:e:i",
				"Faj’ro/:MP:e:i",
				"Wasteland/:MP:e:i",
				"V’rda/:MP:e:i",
				"Zir’vitar/:MP:e:i",
				"So’najiz/:MP:e:i",
				"Omni/:MP:e:i",
				"Gilders/:MP:e:i",
				"Clipson/:MP:e:i",
				"Zermi/:MP:e:i",
				"Maraskan/:MP:e:i",
				"Raritan/:MP:e:i",
				"Gem/:MP:e:i",
				"Lounge/:MP:e:i",
				"Ku’lero/:MP:e:i",

				"Felix/:M1:m:i",
				"Lachsen/:M2:e:i",
				"Henning/:M1:m:i",
				"Hartmann/:M2:e:i",
				"Fröse/:M2:e:i",
				"Frece/:M2:e:i",
				"GFluegel/:M2:e:i",
				"Streetclaw/:M2:e:i"
			],
			"replacements": {
				"before": [
					["([-~])(\\s+)(.*)\\2\\1", "\\3"],
					["\"([^\"]*)\"", "«\u00a0\\1\u00a0»"],
					["^\\.+$", ""],
					["^!!min=-?([0-9]+)$", "\\1"],
					["SPs", "SPÉCIAUX"],
					["\\bSP\\b", "SPÉCIAL"],
					["HP Max\\.", "POINT MAXIMAL"],
					["d'HP Max\\.", "de POINT MAXIMAL"],
					["d'HP", "de POINT"],
					["HPs", "POINTS"],
					["HP", "POINT"],
					["\\b[Bb]uffs\\b", "EFFETS"],
					["\\bbuff\\b", "EFFET"],
					["Équip\\.", "Équipement"],
					["\\bProt\\.", "Protection"],
					["\\bRégén\\.", "Régénération"],
					["EXPs", "POINTS D'expérience"],
					["E?XP", "POINT D'expérience"],
					["\\b[sS]tats\\.", "STATISTIQUES"],
					["\\bAssist\\.", "ASSISTANCE"],
					["\\bNotif\\.", "NOTIFICATION"],
					["\\bÉchap\\.", "ÉCHAPPEMENT"],
					["\\bAssoc\\.", "ASSOCIATION"],
					["\\bSgt\\.", "SERGENT"],
					["\\bBrass\\.", "BRASSAGE"],
					["\\b(NO)O+N\\b", "\\1N"],
					["\\[xyz\\]", "TANT"],
					["\\b([çA-Za-zé]|li|au)(-\\1)+", "\\1"],
					["BouclierEntier", "Bouclier Entier"],
					["BouclierSceptique", "Bouclier Sceptique"],
					["World Wide Weeb", "NIPPON MONDIAL"],
					["\\(something\\)", "(truc)"],
					["\\b([Hh]a)(ha)+\\b", "\\1"],
					["\\b([Aa]h)(ah)+\\b", "\\1"],
					["\\b([Hh]é)(hé)+\\b", "\\1"],
					["\\bAh+\\b", "Ah"],
					["\\bAH+\\b", "AH"],
					["\\bOh+\\b", "Oh"],
					["\\bQuoiii+\\b", "Quoi"],
					["\\bNO+N+\\b", "Non"],
					["\\b(NO+|no)o+n\\b", "Non"],
					["Instatainment SA", "Instatainment"],
					["C'tron", "CIIItron"],
					["D'[kK]ar", "DEEEkar"],
					["([Cc])apt'aine", "\\1apitaine"],
					["Virtual Proximity Impact", "VPI"],
					["Virtual Ricochet Projectile", "VRP"],
					["Massively Multiplayer Online", "MMO"],
					["Radical Fish", "Radical Poisson"],
					["V'rda Vil", "V'rda"],
					["(\n|^)- ","\\1—\u000a"]
				],
				"after": [
					["oe", "œ"],
					["O[Ee]", "Œ"],
					["'",  "’"],
					["[.]{3,4}", "…"],
					[" - ", " – "]
				]
			}
		}
	}
}
